#info_text {
    text-align: center;
    font-size: 3vmin;
    font-weight: lighter;
    margin-bottom: 3vh;
}

#socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw
}

#info_text a {
    text-decoration: none;
    color: black;

    transition: all 300ms;
}
#info_text a:visited {
    text-decoration: none;
}
#info_text a:hover {
    color: rgb(125, 125, 125);
}

#socials a {
    opacity: 100%;

    transition: opacity 300ms;
}
#socials a:hover {
    opacity: 50%;
}