/* NAVBAR */
#navbar p {
    color: black;
}
#navbar #navmenu a {
    color: black;
}
#nav_mobile_options a {
    color: black;
}

/* FOOTER */
footer {
    color: rgb(150, 150, 150);
}

.full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.full img {
    height: 100%;
    width: auto;
}

.popup {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 20vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);

    transition: all 3s;
}
.show {
    opacity: 1;
    filter: blur(0);
}