@media screen and (max-width:900px) {
    #nav_mobile {
        display: flex;
    }
    #navbar {
        display: none;
    }
}
@media screen and (min-width:901px) {
    #nav_mobile {
        display: none;
    }
    #navbar {
        display: flex;
    }
}

#navbar {
    z-index: 9;

    position: fixed;
    width: 100vw;
    height: 12vh;
    align-items: center;
    justify-content: center;

    /*backdrop-filter: blur(10px);*/
}
#navbar p {
    position: absolute;
    left: 3vw;
    font-size: 3vmin;
    font-weight: lighter;
}
#navbar #home {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transition: background-image 300ms;
}
#navbar #home:hover {
    background-image: url("../images/o_blur.png");
}
#navbar #navmenu {
    position: absolute;
    right: 3vw;
    font-size: 3vmin;
    font-weight: lighter;
}
#navbar #navmenu a {
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;

    transition: all 300ms;
}
#navbar #navmenu a:visited {
    text-decoration: none;
}
#navbar #navmenu a:hover {
    color: rgb(125, 125, 125);
}

#nav_mobile {
    z-index: 9;
    position: fixed;
    width: 100vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
}
#nav_mobile #home {
    z-index: 10;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    animation-name: home;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes home {
    0%   {background-image: url("../images/o.png")}
    50%  {background-image: url("../images/o_blur.png")}
}
#nav_mobile_options {
    z-index: 11;

    position: absolute;
    width:100%;
    height:100%;
    top:0;
    display: none;
    flex-direction: column;
    gap: 8vh;
    justify-content: left;
    padding-top:10vh;
    align-items: center;  
    font-size: 10vmin;
    font-weight: lighter;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
}
#nav_mobile_options a {
    text-decoration: none;

    transition: all 300ms;
}
#nav_mobile_options a:visited {
    text-decoration: none;
}
#nav_mobile_options a:hover {
    color: rgb(125, 125, 125);
}
#nav_mobile_options #home {
    height: 10vh;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transition: background-image 300ms;
}