body {
    scroll-snap-type: y mandatory;
}

@media screen and (max-width:900px) {
    #nav_mobile {
        display: flex;
    }
    #navbar {
        display: none;
    }
}
@media screen and (min-width:901px) {
    #nav_mobile {
        display: none;
    }
    #navbar {
        display: flex;
    }
}

#navbar {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
}
#navbar #home {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*filter: invert();*/

    animation-name: home;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes home {
    0%   {background-image: url("../images/o.png")}
    50%  {background-image: url("../images/o_blur.png")}
  }

  #nav_mobile {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
}
#nav_mobile #home {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    animation-name: home;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes home {
    0%   {background-image: url("../images/o.png")}
    50%  {background-image: url("../images/o_blur.png")}
  }
#nav_mobile_options {
    z-index: 3;

    position: absolute;
    width:100%;
    height:100%;
    top:0;
    display: none;
    flex-direction: column;
    gap: 8vh;
    justify-content: left;
    padding-top:10vh;
    align-items: center;  
    font-size: 10vmin;
    font-weight: lighter;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.497);
}
#nav_mobile_options a {
    text-decoration: none;
    color: black;

    transition: all 300ms;
}
#nav_mobile_options a:visited {
    text-decoration: none;
}
#nav_mobile_options a:hover {
    color: rgb(125, 125, 125);
}
#nav_mobile_options #home {
    height: 10vh;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../images/o.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transition: background-image 300ms;
}

#track {
    width: 100vw;
}
#track .slide {
    position: relative;
    scroll-snap-align: start;
}
#track .slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#track .slide p {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    bottom:50%;
    font-size: 6vmin;
    font-weight: bold;
    color: white;
}